name: main

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Verify Go
        run: go version

      - name: Install protoc
        run: |
          brew install protobuf protoc-gen-go

      - name: Check go mod tidy
        run: |
          go mod tidy
          git diff --exit-code go.mod go.sum

      - name: Verify dependencies
        run: |
          go mod download
          go mod verify

      - name: Generate protobuf
        run: make proto

      - name: Check protobuf is up to date
        run: git diff --exit-code internal/api/

      - name: Build
        run: make build

      - name: Lint
        run: make lint

      - name: Test
        run: make test
